<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Catálogo de productos</h1>
    <div class="productos">
        {% for producto in productos %}
            <div class="producto-card">
                <img src="{% static 'images/producto1.jpg' %}" alt="{{ producto.nombre }}">
                <h2>{{ producto.nombre }}</h2>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <button>Añadir al carrito</button>
            </div>
        {% endfor %}
    </div>

</body>
</html>


